body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ffff00, #ff00ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: -1;
    filter: blur(15px);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    margin-bottom: 20px;
}

#taskInput {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#taskList {
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

li {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 0.2s;
}

li.dragging {
    opacity: 0.5;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

li .delete {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    margin-left: auto;
}

li .delete:hover {
    background-color: #d32f2f;
}

.task-number {
    margin-right: 10px;
    font-weight: bold;
}

@media (max-width: 600px) {
    input[type="text"] {
        width: 60%;
    }

    button {
        padding: 8px 10px;
        font-size: 14px;
    }
}